/*right-sideber*/

.right-search-title {
	background: #fff;
	color: #333;
	text-align: center;
	padding: 3px 24px 12px;
}
.right-search-title a {
	cursor: pointer;
}

.right-search-title p {
	float: left;
	font-size: 20px;
	margin: 0px 44px 0px -13px;
	font-family: initial;
	border-bottom: 2px solid #4C7DA4;
	width: 81%;
	padding: 0px 155px 4px 0px;
}
.right-search-multi {
	padding: 0px 0px 0px 0px;
   
}
.right-search-multi li {
	list-style: none;
	padding: 12px 0px 5px 10px;
	background: #fff;
    color: #333;
}
.search-select {
	width: 97%;
}
#year_f, #year_t {
	width: 45%;
}
input::placeholder {
    font-size: 14px;
}
.sale {
	width: 95%;
    background: #4093D5;
    color: #fff;
}

._2p3a {
	width: 100%;
}













body{
/*    background: #EDEBEB;*/
}
.since {
	background: #000;
	color: #fff;
	font-size: 10px;
	line-height: 12px;
	border-top: 1px solid #ccc;
}
.total-cars.text-right p {
	margin: 0;
	padding-right: 16px;
	font-size: 12px;
	color: #7f7f7f;
}

.navbar-brand img {
	width: 130px;
	height: 50px;
}
.navbar-brand img {
	margin-top: -32px;
}
/*second-menu*/

.second-menu {
    background: #4093D5;
    color: #fff;
}
.second-m-row .col-3 a, .second-m-row .col-4 a, .second-m-row .col-2 a {
    color: #fff;
    font-size: 12px;
    text-align: center;
}
.second-m-row .second-m-cl1 a::before {
	content: '\f002';
	font-family: FontAwesome;
	vertical-align: top;
	display: table-caption;
	margin: 3px 0px 11px 22px;
}
.second-m-row .second-m-cl2 a::before {
	content: '\f1b9';
	font-family: FontAwesome;
	vertical-align: top;
	display: table-caption;
	margin: 3px 0px 11px 25px;
}
.second-m-row .second-m-cl3 a::before {
	content: '\f025';
	font-family: FontAwesome;
	vertical-align: top;
	display: table-caption;
	margin: 3px 0px 11px 17px;
}
.second-m-row .second-m-cl4 a::before {
	content: '\f090';
	font-family: FontAwesome;
	vertical-align: top;
	display: table-caption;
	margin: 3px 0px 11px 8px;
}

.second-m-row .col-3, .second-m-row .col-4, .second-m-row .col-2 {
    padding: 0;
    text-align: center;
}

.row.second-m-row {
	margin: 0;
    text-transform: capitalize;
}
.col-3.second-m-cl4 {
	margin-left: -15px;
	padding-left: 22px;
}
/* end second-menu*/

/*search top*/

.search-title {
	background: #000;
	color: #fff;
}
.search-title p {
	margin-left: 20px;
	font-size: 16px;
	font-family: initial;
}

.top-search .input-group {
	padding: 0px 20px;
}

#mysearch:focus + .input-group-addon {
	z-index: 10;
}

#search-btn:hover {
	cursor: pointer;
	/*color: gold;*/
	background-color: #ffc107;
}

.search-boader {
	border: 1px solid #4093D5;
}
.search-button button {
	background: #4093D5;
	color: #fff;
	border-radius: 0;
	border-color: #4093D5;
}
.search-button button:hover {
	color: #fff;
	background-color: #4093D5;
	border-color: #4093D5;
}
/* end search top*/

/*sear by make*/

.search-by-make img {
	width: 50%;
	height: 100%;
}
.search-by-container {
    padding-right: 0px; 
    padding-left: 0px;
    margin-top: 10px

}
.search-by-make {
	height: auto;
	background: #E1E1E1;
	border-radius: 5px;
	border: 1px solid #ccc;
	text-align: center;
}
.search-by-col {
	padding: 5px;
	margin: 0px;
}
.search-by-make p {
	line-height: 0px;
	margin-top: 10px;
    font-size: 14px;
}
.search-by-tabs {
	background: #4093D5;
    border-top: 2px solid #4093D5;
    margin: 0;
}
.search-by-tabs li a {
    color: #fff; 
    font-family: initial;
}
.search-by-name {
	border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    padding: 10px 20px;
}
.search-by-item{
    padding: 0px;
    border-right: 1px solid #000;
}
#search_by_price{
    margin: 0 auto;
    list-style: none;
    padding: 0;
}
#search_by_price li {
	border-bottom: 1px solid #ccc;
	padding: 5px;
}

#search_by_price li a {
	text-decoration: none;
	color: #000;
	font-size: 12px;
}
ul#search_by_price li a::after {
	content: "\f054";
	font-family: FontAwesome;
	font-size: 13px;
	float: right;
	margin-right: 17px;
}
.see-more {
	background: #4093D5;
	padding: 0px 5px;
	color: #fff;
	margin-top: 5px;
}

.see-more::after {
	content: "\f054";
    font-family: FontAwesome;
    font-size: 12px;
    float: right;
    margin-left: 17px;
    margin-top: 5px;
}
#most-popular{
    margin-bottom: 30px;
}








/* end sear by make*/

/*Most Popular in BANGLADESH*/
.item h4 {
	margin-bottom: 0;
}

.car-detail {
	text-align: center;
	font-size: 10px;
    
    font-weight: 700;
}
.car-detail p {
	margin-bottom: 0;
}
.car-price, .save-tk {
	font-size: 12px;
    color: #4093D5;
    font-weight: 700;
}
.title {
	margin: 0px -11px 10px -20px;
	padding: 5px 0 5px 10px;
	border-bottom: 2px solid #bf0b16;
}
.title span {
	border-left: 2px solid #e10e0e;
	padding: 0 0 0 12px;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	color: #4093D5;
	text-transform: uppercase;
	font-weight: 700;
}
/* end Most Popular in BANGLADESH*/



/*Customer Testimonials*/

.review {
	border: 1px solid #ccc;
    margin-top: 10px;
    padding-left: 0px;
    margin-bottom: 30px;
    background: #EDEBEB;
    box-shadow: 0px 5px 9px 0px #ccc;
}
.cus-testimonials h2 span {
    padding: 0 0 0 13px;
    border-left: 3px solid #de0018;
    font-size: 16px;
    line-height: 18px;
    color: #2b59b6;
}

.cus-testimonials h2 {
    margin: 0 10px 11px 0;
    padding: 0 0 6px 13px;
    border-bottom: 2px solid #bf0b16;
}



.col-center {
    margin: 0 auto;
    float: none !important;
}
.carousel .item {
    color: #999;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
    width: 135px;
    height: 135px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 50%;
}
.carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}
.testimonials-detail p {
    width: 200px;
    text-align: center;
    margin-left: 70px;
}
.carousel .overview {   
    font-style: italic;
}
.carousel .overview b {
    text-transform: uppercase;
    color: #7AA641;
}
.carousel .carousel-control {
/*    width: 126px;*/
    height: 40px;
    margin-top: -20px;
    top: 50%;
    background: none;
}
.carousel-control i {
    font-size: 68px;
    line-height: 42px;
    position: absolute;
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel-indicators li {   
    background: #999;
    border-color: transparent;
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {    
    background: #555;       
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

/* end Customer Testimonials*/

/* Footer Menu */

.footer-menu-col {
    padding: 0px;
}

.footer-menu-list, .footer-menu-dopi {
	background: linear-gradient(to bottom,#f8f8f8 0,#e2e2e2 100%);
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    padding: 5px 20px;
    font-family: initial;
}
.footer-menu-list::after {
	content: "\f054";
    font-family: FontAwesome;
    font-size: 12px;
    float: right;
    margin-left: 17px;
    margin-top: 5px;
}
.footer-menu-dopi::after {
	content: "\f107";
    font-family: FontAwesome;
    font-size: 18px;
    float: right;
    margin-left: 17px;
    margin-top: 0px;
    font-weight: 700;
}
.footer-menu-dop {
	background-color: #666666;
    color: #FFF;
    box-shadow: 23px 0px 2px 0px;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
.footer-menu-dop:hover {
    color: #FFF;
}


/* End Footer Menu */


/*socile-meadia CSS*/
.socile-meadia{
    background: #444;
}
.center-block .fa {
	padding: 12px;
	font-size: 20px;
	width: 47px;
	text-align: center;
	text-decoration: none;
	margin: 0px 2px;
	border-radius: 12px;
}

center-block .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/*end socile-meadia CSS*/

/*copyright css*/

p.foot2btns a {
	display: block;
	width: 50%;
	float: left;
	background: linear-gradient(to bottom,#f8f8f8 0,#e2e2e2 100%);
	border-top: 1px solid #AAA;
	border-right: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	line-height: 32px;
	text-align: center;
    color: #444;
    text-decoration: none;
}

.copyright, .design {
	line-height: 37px;
	color: #FFF;
	text-align: center;
    background: #4093D5;
    font-size: 18px;
    text-transform: capitalize;
}
.design a {
	color: #444;
    font-size: 14px;
    text-transform: capitalize;
}

/*copyright css*/


.scrollToTop {
	text-align: center;
	background: #1e1a1a66;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	position: fixed;
	bottom: 50px;
	right: 10px;
	display: none;
	z-index: 9999;
    width: 40px;
    height: 40px;
    border-radius: 9px;
}
.scrollToTop:hover{
	text-decoration:none;
    color: #fff;
}
.scrollToTop .fa {
	font-size: 50px;
	margin: -20px 0px 0px -7px;
}



/************************************************************
************************* Registration Page css ******************************
*************************************************************/



.progress_step_bar.clearfix ol {
    display: inline-block;
    width: 100%;
    padding: 0;
}
.progress_step_bar ol li.now_progress::after {
	border-color: transparent transparent transparent #F50F0F;
}

.progress_step_bar.clearfix ol li {
	display: inline-block;
	float: left;
	margin: 10px 0px;
}

.progress_step_bar ol li::after {
	border-width: 24px 0 24px 18px;
	border-color: transparent transparent transparent #fff;
	top: 0;
	right: -18px;
}
.progress_step_bar ol li::after, .progress_step_bar ol li::before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-style: solid none solid solid;
	position: absolute;
}
.progress_step_bar ol li.now_progress::before {
	border-color: transparent transparent transparent #722426;
}

.progress_step_bar ol li::before {
	border-width: 25px 0 25px 19px;
	border-color: transparent transparent transparent #5a5a5a;
	top: -1px;
	right: -19px;
}
.progress_step_bar ol li.now_progress {
	color: #fff;
	border-color: #722426;
	background-color: #F50F0F;
}

.progress_step_bar ol li {
	position: relative;
	width: 25%;
	float: left;
	height: 50px;
	padding-top: 12px;
	text-align: center;
	box-sizing: border-box;
	background-color: #FFF;
	border: 1px solid #5a5a5a;
}
.progress_step_bar ol li h2 {
	font-size: 16px;
	line-height: 1;
	font-weight: 400;
	margin-bottom: 1px;
    margin-top: -5px;
}
.progress_step_bar ol li p {
	font-size: 12px;
	line-height: 1;
	padding-left: 14px;
}
.progress_step_bar ol li:nth-last-of-type(4) {
	z-index: 7;
}
.progress_step_bar ol li:nth-last-of-type(3) {
	z-index: 5;
}
.progress_step_bar ol li:nth-last-of-type(2) {
	z-index: 3;
}
.progress_step_bar ol li:nth-last-of-type(1)::after, .progress_step_bar ol li:nth-last-of-type(1)::before {
	display: none;
}
.step-area .headLine01 {
	margin-bottom: 12px;
	color: #1d1d1d;
	font-size: 18px;
	font-weight: 400;
	background: #fefefe;
	background: -moz-linear-gradient(top,#fefefe 0,#fefefe 4%,#fcfcfc 5%,#f1f1f1 49%,#e1e1e1 50%,#f2f2f2 100%);
	background: -webkit-linear-gradient(top,#fefefe 0,#fefefe 4%,#fcfcfc 5%,#f1f1f1 49%,#e1e1e1 50%,#f2f2f2 100%);
	background: linear-gradient(to bottom,#fefefe 0,#fefefe 4%,#fcfcfc 5%,#f1f1f1 49%,#e1e1e1 50%,#f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f2f2f2', GradientType=0 );
	border-left: 4px solid #626161;
	display: block;
}

.step-area .headLine01 span {
	border-width: 2px 1px 1px 0;
	border-style: solid;
	border-color: #d6d6d6 #b3b3b3 #b3b3b3 transparent;
	padding: 5px 31px 5px 25px;
	display: block;
}

/*form-area*/


.form-area {
	border: 10px solid #e6e6e6;
	padding: 25px;
	margin-bottom: 50px;
}
.step-one h3 {
	border-bottom: 1px solid #333;
	font-size: 20px;
    font-weight: 700;
}
.login {
	margin-bottom: 26px;
}

ul.regist_merit_list {
	margin: 0px;
	padding: 0px;
}

.step-one ul.regist_merit_list li, .submit li {
	list-style: none;
}

 ul.regist_merit_list li {
	background-image: url(../images/icon/green-check-mark1.png);
	background-repeat: no-repeat;
	background-position: -3px 5px;
	padding-left: 32px;
    padding-top: 12px;
    color: #088FFB;
    font-size: 14px;
}
.submit {
	text-align: center;
	margin-top: 25px;
    padding: 0px;
}
.submit button {
	min-width: 288px;
	background-color: #006DEF;
	font-size: 14px;
	padding: 11px 15px;
	line-height: 1.25;
	color: #fff;
	font-weight: 700;
	border: 0 #006DEF;
	cursor: pointer;
	outline-color: #006DEF;
	outline-offset: 4px;
	text-align: center;
	text-decoration: none;
	margin-bottom: 20px;
}

 ul.submit .facebook_snsloginbtn a {
	background-color: #3E5898;
	border-color: #273860;
	background-position: 0 0;
}
.submit li a {
	-webkit-transition: opacity .2s ease-out;
	-moz-transition: opacity .2s ease-out;
	-o-transition: opacity .2s ease-out;
	transition: opacity .2s ease-out;
}
 ul.submit .facebook_snsloginbtn a {
	background-color: #3E5898;
	border-color: #273860;
	background-position: 0 0;
}
 ul.submit li a {
	display: block;
	line-height: 38px;
	font-size: 24px;
	text-align: left;
	width: 173px;
	padding-left: 64px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
	color: #fff;
	background-image: url(../images/icon/sns_login_btns.png);
	background-repeat: no-repeat;
	background-size: 46px 342px;
	border: 1px solid transparent;
	border-radius: 4px;
	margin: auto;
	text-decoration: none;
	-moz-box-shadow: 0 0 5px #fff inset;
	-webkit-box-shadow: 0 5px #fff inset;
	-ms-box-shadow: 0 0 5px #fff inset;
	-o-box-shadow: 0 0 5px #fff inset;
	box-shadow: 0 0 5px #fff inset;
}
.submit {
	text-align: center;
}

ul.submit .google_snsloginbtn a {
	background-color: #ea4335;
	border-color: #942a21;
	background-position: 0 -76px;
}

 ul.submit li a {
	display: block;
	line-height: 38px;
	font-size: 24px;
	text-align: left;
	width: 260px;
	padding-left: 64px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
	color: #fff;
	background-image: url(../images/icon/sns_login_btns.png);
	background-repeat: no-repeat;
	background-size: 46px 342px;
	border: 1px solid transparent;
	border-radius: 4px;
	margin: auto;
	text-decoration: none;
	-moz-box-shadow: 0 0 5px #fff inset;
	-webkit-box-shadow: 0 5px #fff inset;
	-ms-box-shadow: 0 0 5px #fff inset;
	-o-box-shadow: 0 0 5px #fff inset;
	box-shadow: 0 0 5px #fff inset;
}
ul.submit .microsoft_snsloginbtn a {
	background-color: #0078d7;
	border-color: #004c88;
	background-position: 0 -152px;
}
.txtInner ul.submit li a {
	display: block;
	line-height: 38px;
	font-size: 24px;
	text-align: left;
	width: 173px;
	padding-left: 64px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
	color: #fff;
	background-image: url(../images/icon/sns_login_btns.png);
	background-repeat: no-repeat;
	background-size: 46px 342px;
	border: 1px solid transparent;
	border-radius: 4px;
	margin: auto;
	text-decoration: none;
	-moz-box-shadow: 0 0 5px #fff inset;
	-webkit-box-shadow: 0 5px #fff inset;
	-ms-box-shadow: 0 0 5px #fff inset;
	-o-box-shadow: 0 0 5px #fff inset;
	box-shadow: 0 0 5px #fff inset;
}
.Login-With {
	margin-bottom: 27px;
    border-bottom: 1px solid #333;
    font-size: 20px;
    font-weight: 700;
}
.country ul {
	float: left !important;
	margin-top: 240px;
	margin-left: -327px;
	margin-right: 0;
	padding-left: 5px;
	width: 100%;
}

.main-registration-area th {
    padding: 5px 15px 5px 10px;
    text-align: left;
    vertical-align: bottom;
    color: #030303;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid #DFDFDF;
    background-color: #FDF7CD;
    padding-left: 19px;
    
}
.main-registration-area th span {
	display: inline-block;
	max-width: 9px;
	margin-left: -9px;
	color: #ff0101;
	vertical-align: top;
	line-height: 1;
}

.main-registration-area td {
	padding: 5px 15px 5px 10px;
	text-align: left;
	vertical-align: bottom;
	color: #030303;
	font-weight: 400;
	border: 1px solid #DFDFDF;
    vertical-align: middle;
}
.country ul {
	margin-left: -147px;
	width: 198px;
	margin-top: 215px;
	border-radius: 0;
}
.country button {
	width: 100%;
	border-radius: 0;
	font-size: 12px;
	background: #fff;
	border: 1px solid #ccc;
}
#phone {
	width: 100%;
}

.intl-tel-input.iti-container ul.country-list {
	margin-left: 116px;
	width: 198px;
	margin-top: 215px;
	border-radius: 0;
}
.main-registration-area th label {
	width: 86px;
}

.main-registration-area td label {
	display: inline-block;
	width: 108px;
	padding: 5px 0;
	vertical-align: bottom;
    font-size: 12px;
}
.check_term_text {
	margin: 20px;
}
.flag-container ul {
	width: 386px;
}
/************************************************************
************************* End Registration Page css ******************************
*************************************************************/

/************************************************************
************************* how to buy Page css ******************************
*************************************************************/
p.buy_title {
    margin-top: 10px;
    overflow: hidden;
    position: absolute;
}


/************************************************************
************************* End How to Buy Page css ******************************
*************************************************************/
