.since {
	background: #000;
	color: #fff;
	font-size: 10px;
	line-height: 12px;
	border-top: 1px solid #ccc;
}
.total-cars.text-right p {
	margin: 0;
	padding-right: 16px;
	font-size: 12px;
	color: #7f7f7f;
}

.navbar-brand img {
	width: 130px;
	height: 50px;
}
.navbar-brand img {
	margin-top: -32px;
}
/*second-menu*/

.second-menu {
    background: #4093D5;
    color: #fff;
}
.second-m-row .col-3 a, .second-m-row .col-4 a, .second-m-row .col-2 a {
    color: #fff;
    font-size: 12px;
    text-align: center;
}
.second-m-row .second-m-cl1 a::before {
	content: '\f002';
	font-family: FontAwesome;
	vertical-align: top;
	display: table-caption;
	margin: 3px 0px 11px 22px;
}
.second-m-row .second-m-cl2 a::before {
	content: '\f1b9';
	font-family: FontAwesome;
	vertical-align: top;
	display: table-caption;
	margin: 3px 0px 11px 25px;
}
.second-m-row .second-m-cl3 a::before {
	content: '\f025';
	font-family: FontAwesome;
	vertical-align: top;
	display: table-caption;
	margin: 3px 0px 11px 17px;
}
.second-m-row .second-m-cl4 a::before {
	content: '\f090';
	font-family: FontAwesome;
	vertical-align: top;
	display: table-caption;
	margin: 3px 0px 11px 8px;
}

.second-m-row .col-3, .second-m-row .col-4, .second-m-row .col-2 {
    padding: 0;
    text-align: center;
}

.row.second-m-row {
	margin: 0;
    text-transform: capitalize;
}
.col-3.second-m-cl4 {
	margin-left: -15px;
	padding-left: 22px;
}
/* end second-menu*/

/*search top*/

.search-title {
	background: #000;
	color: #fff;
}
.search-title p {
	margin-left: 20px;
	font-size: 16px;
	font-family: initial;
}

.top-search .input-group {
	padding: 0px 20px;
}

#mysearch:focus + .input-group-addon {
	z-index: 10;
}

#search-btn:hover {
	cursor: pointer;
	/*color: gold;*/
	background-color: #ffc107;
}

.search-boader {
	border: 1px solid #4093D5;
}
.search-button button {
	background: #4093D5;
	color: #fff;
	border-radius: 0;
	border-color: #4093D5;
}
.search-button button:hover {
	color: #fff;
	background-color: #4093D5;
	border-color: #4093D5;
}
/* end search top*/

/*sear by make*/

.search-by-make img {
	width: 50%;
	height: 100%;
}
.search-by-container {
    padding-right: 0px; 
    padding-left: 0px;
    margin-top: 10px

}
.search-by-make {
	height: auto;
	background: #E1E1E1;
	border-radius: 5px;
	border: 1px solid #ccc;
	text-align: center;
}
.search-by-col {
	padding: 5px;
	margin: 0px;
}
.search-by-make p {
	line-height: 0px;
	margin-top: 10px;
}
.search-by-tabs {
	background: #4093D5;
    border-top: 2px solid #4093D5;
    margin: 0;
}
.search-by-tabs li a {
    color: #fff; 
    font-family: initial;
}
.search-by-name {
	border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    padding: 10px 20px;
}
.search-by-item{
    padding: 0px;
    border-right: 1px solid #000;
}
#search_by_price{
    margin: 0 auto;
    list-style: none;
    padding: 0;
}
#search_by_price li {
	border-bottom: 1px solid #ccc;
	padding: 5px;
}

#search_by_price li a {
	text-decoration: none;
	color: #000;
	font-size: 12px;
}
ul#search_by_price li a::after {
	content: "\f054";
	font-family: FontAwesome;
	font-size: 13px;
	float: right;
	margin-right: 17px;
}










/* end sear by make*/

/*Most Popular in BANGLADESH*/
.item h4 {
	margin-bottom: 0;
}

.car-detail {
	text-align: center;
	font-size: 10px;
    
    font-weight: 700;
}
.car-detail p {
	margin-bottom: 0;
}
.car-price, .save-tk {
	font-size: 12px;
    color: #4093D5;
    font-weight: 700;
}
.title {
	margin: 0px -11px 10px -20px;
	padding: 5px 0 5px 10px;
	border-bottom: 2px solid #bf0b16;
}
.title span {
	border-left: 2px solid #e10e0e;
	padding: 0 0 0 12px;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	color: #4093D5;
	text-transform: uppercase;
	font-weight: 700;
}
/* end Most Popular in BANGLADESH*/