body{
/*    background: #EDEBEB;*/
}
.since {
	background: #000;
	color: #fff;
	font-size: 10px;
	line-height: 12px;
	border-top: 1px solid #ccc;
}
.total-cars.text-right p {
	margin: 0;
	padding-right: 16px;
	font-size: 12px;
	color: #7f7f7f;
}

.navbar-brand img {
	width: 130px;
	height: 50px;
}
.navbar-brand img {
	margin-top: -32px;
}
/*second-menu*/

.second-menu {
    background: #4093D5;
    color: #fff;
}
.second-m-row .col-3 a, .second-m-row .col-4 a, .second-m-row .col-2 a {
    color: #fff;
    font-size: 12px;
    text-align: center;
}
.second-m-row .second-m-cl1 a::before {
	content: '\f002';
	font-family: FontAwesome;
	vertical-align: top;
	display: table-caption;
	margin: 3px 0px 11px 22px;
}
.second-m-row .second-m-cl2 a::before {
	content: '\f1b9';
	font-family: FontAwesome;
	vertical-align: top;
	display: table-caption;
	margin: 3px 0px 11px 25px;
}
.second-m-row .second-m-cl3 a::before {
	content: '\f025';
	font-family: FontAwesome;
	vertical-align: top;
	display: table-caption;
	margin: 3px 0px 11px 17px;
}
.second-m-row .second-m-cl4 a::before {
	content: '\f090';
	font-family: FontAwesome;
	vertical-align: top;
	display: table-caption;
	margin: 3px 0px 11px 8px;
}

.second-m-row .col-3, .second-m-row .col-4, .second-m-row .col-2 {
    padding: 0;
    text-align: center;
}

.row.second-m-row {
	margin: 0;
    text-transform: capitalize;
}
.col-3.second-m-cl4 {
	margin-left: -15px;
	padding-left: 22px;
}
/* end second-menu*/

/*search top*/

.search-title {
	background: #000;
	color: #fff;
}
.search-title p {
	margin-left: 20px;
	font-size: 16px;
	font-family: initial;
}

.top-search .input-group {
	padding: 0px 20px;
}

#mysearch:focus + .input-group-addon {
	z-index: 10;
}

#search-btn:hover {
	cursor: pointer;
	/*color: gold;*/
	background-color: #ffc107;
}

.search-boader {
	border: 1px solid #4093D5;
}
.search-button button {
	background: #4093D5;
	color: #fff;
	border-radius: 0;
	border-color: #4093D5;
}
.search-button button:hover {
	color: #fff;
	background-color: #4093D5;
	border-color: #4093D5;
}
/* end search top*/

/*sear by make*/

.search-by-make img {
	width: 50%;
	height: 100%;
}
.search-by-container {
    padding-right: 0px; 
    padding-left: 0px;
    margin-top: 10px

}
.search-by-make {
	height: auto;
	background: #E1E1E1;
	border-radius: 5px;
	border: 1px solid #ccc;
	text-align: center;
}
.search-by-col {
	padding: 5px;
	margin: 0px;
}
.search-by-make p {
	line-height: 0px;
	margin-top: 10px;
    font-size: 14px;
}
.search-by-tabs {
	background: #4093D5;
    border-top: 2px solid #4093D5;
    margin: 0;
}
.search-by-tabs li a {
    color: #fff; 
    font-family: initial;
}
.search-by-name {
	border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    padding: 10px 20px;
}
.search-by-item{
    padding: 0px;
    border-right: 1px solid #000;
}
#search_by_price{
    margin: 0 auto;
    list-style: none;
    padding: 0;
}
#search_by_price li {
	border-bottom: 1px solid #ccc;
	padding: 5px;
}

#search_by_price li a {
	text-decoration: none;
	color: #000;
	font-size: 12px;
}
ul#search_by_price li a::after {
	content: "\f054";
	font-family: FontAwesome;
	font-size: 13px;
	float: right;
	margin-right: 17px;
}
.see-more {
	background: #4093D5;
	padding: 0px 5px;
	color: #fff;
	margin-top: 5px;
}

.see-more::after {
	content: "\f054";
    font-family: FontAwesome;
    font-size: 12px;
    float: right;
    margin-left: 17px;
    margin-top: 5px;
}
#most-popular{
    margin-bottom: 30px;
}








/* end sear by make*/

/*Most Popular in BANGLADESH*/
.item h4 {
	margin-bottom: 0;
}

.car-detail {
	text-align: center;
	font-size: 10px;
    
    font-weight: 700;
}
.car-detail p {
	margin-bottom: 0;
}
.car-price, .save-tk {
	font-size: 12px;
    color: #4093D5;
    font-weight: 700;
}
.title {
	margin: 0px -11px 10px -20px;
	padding: 5px 0 5px 10px;
	border-bottom: 2px solid #bf0b16;
}
.title span {
	border-left: 2px solid #e10e0e;
	padding: 0 0 0 12px;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	color: #4093D5;
	text-transform: uppercase;
	font-weight: 700;
}
/* end Most Popular in BANGLADESH*/



/*Customer Testimonials*/

.review {
	border: 1px solid #ccc;
    margin-top: 10px;
    padding-left: 0px;
    margin-bottom: 30px;
    background: #EDEBEB;
    box-shadow: 0px 5px 9px 0px #ccc;
}
.cus-testimonials h2 span {
    padding: 0 0 0 13px;
    border-left: 3px solid #de0018;
    font-size: 16px;
    line-height: 18px;
    color: #2b59b6;
}

.cus-testimonials h2 {
    margin: 0 10px 11px 0;
    padding: 0 0 6px 13px;
    border-bottom: 2px solid #bf0b16;
}



.col-center {
    margin: 0 auto;
    float: none !important;
}
.carousel .item {
    color: #999;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
    width: 135px;
    height: 135px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 50%;
}
.carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}
.testimonials-detail p {
    width: 200px;
    text-align: center;
    margin-left: 70px;
}
.carousel .overview {   
    font-style: italic;
}
.carousel .overview b {
    text-transform: uppercase;
    color: #7AA641;
}
.carousel .carousel-control {
/*    width: 126px;*/
    height: 40px;
    margin-top: -20px;
    top: 50%;
    background: none;
}
.carousel-control i {
    font-size: 68px;
    line-height: 42px;
    position: absolute;
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel-indicators li {   
    background: #999;
    border-color: transparent;
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {    
    background: #555;       
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

/* end Customer Testimonials*/

/* Footer Menu */

.footer-menu-col {
    padding: 0px;
}

.footer-menu-list, .footer-menu-dopi {
	background: linear-gradient(to bottom,#f8f8f8 0,#e2e2e2 100%);
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    padding: 5px 20px;
    font-family: initial;
}
.footer-menu-list::after {
	content: "\f054";
    font-family: FontAwesome;
    font-size: 12px;
    float: right;
    margin-left: 17px;
    margin-top: 5px;
}
.footer-menu-dopi::after {
	content: "\f107";
    font-family: FontAwesome;
    font-size: 18px;
    float: right;
    margin-left: 17px;
    margin-top: 0px;
    font-weight: 700;
}
.footer-menu-dop {
	background-color: #666666;
    color: #FFF;
    box-shadow: 23px 0px 2px 0px;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
.footer-menu-dop:hover {
    color: #FFF;
}


/* End Footer Menu */


/*socile-meadia CSS*/
.socile-meadia{
    background: #444;
}
.fa {
	padding: 12px;
	font-size: 20px;
	width: 47px;
	text-align: center;
	text-decoration: none;
	margin: 0px 2px;
	border-radius: 12px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/*end socile-meadia CSS*/

/*copyright css*/

p.foot2btns a {
	display: block;
	width: 50%;
	float: left;
	background: linear-gradient(to bottom,#f8f8f8 0,#e2e2e2 100%);
	border-top: 1px solid #AAA;
	border-right: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	line-height: 32px;
	text-align: center;
    color: #444;
    text-decoration: none;
}

.copyright, .design {
	line-height: 37px;
	color: #FFF;
	text-align: center;
    background: #4093D5;
    font-size: 18px;
    text-transform: capitalize;
}
.design a {
	color: #444;
    font-size: 14px;
    text-transform: capitalize;
}

/*copyright css*/


.scrollToTop {
	text-align: center;
	background: #1e1a1a66;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	position: fixed;
	bottom: 50px;
	right: 10px;
	display: none;
	z-index: 9999;
    width: 40px;
    height: 40px;
    border-radius: 9px;
}
.scrollToTop:hover{
	text-decoration:none;
    color: #fff;
}
.scrollToTop .fa {
	font-size: 50px;
	margin: -20px 0px 0px -7px;
}
